<ion-grid class="ion-no-padding">
    <ion-row style="text-align: center;">
        <ion-col size="5" class="ion-align-self-center">
            <div [style.border-bottom]="color + '1px solid'" style="width: 60%; float: right;"></div>
        </ion-col>
        <ion-col size="2" class="ion-align-self-center">
            <ion-icon class="contact" name="star"></ion-icon>
        </ion-col>
        <ion-col size="5" class="ion-align-self-center">
            <div class="border-contact" style="width: 60%; float: left;"></div>
        </ion-col>
    </ion-row>
</ion-grid>