<div *ngFor="let item of sections; let i = index" [style.display]="item.products && item.products.length > 0 ? 'initial' : 'none'">
    <ion-item lines="none">
        <h6 class="ion-text-wrap encabezado">{{item.name | titlecase}}</h6>
    </ion-item>
    <ion-card class="fondo-card-bloque">
        <ion-item *ngFor="let serv of item.products; let y = index" style="--padding-start: 0" detail>
            <ion-item lines="none">
                <h6 class="ion-text-wrap nombre-prod">{{serv.name}}</h6>
            </ion-item>
        </ion-item>
    </ion-card>
</div>