ion-img {
    height: 50%;
    float: right;
}

.input {
    border-bottom: rgb(202, 201, 201) 1px solid;
}

.grey {
    color: rgb(143, 142, 142)
}

.margin {
    width: 90%;
    margin-left: 5%;
}

.box-form {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.15), 0 6px 20px 0 rgba(0, 0, 0, 0.10);
    background: white;
    border-radius: 25px;
    width: 75%;
    padding: 2rem 0;
}