.entrada {
    border-bottom: rgb(202, 201, 201) 1px solid;
}

.gris {
    color: rgb(143, 142, 142)
}

.mitad {
    width: 50%;
    margin-left: 25%;
}

.caja-formulario {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.15), 0 6px 20px 0 rgba(0, 0, 0, 0.10);
    background: white;
    border-radius: 25px;
    width: 80%;
}