.card {
    text-align: center;
    padding: .75rem;
    margin: 0rem;
}


/*-- Masonry --*/

ngx-masonry {
    margin: 0 auto;
}

.masonry-item {
    margin-bottom: 15px;
    background-size: cover;
    width: 47.5%;
}