ion-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    border-radius: 500px;
    overflow: hidden;
}

.footer {
    width: 100%;
    position: absolute;
    top: 100%;
    transform: translateY(-100%);
}

.btn_frame {
    width: 100%;
    text-align: center;
    padding-top: 1rem;
    font-size: xx-large;
}