ion-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    border: 1px solid grey;
    border-radius: 500px;
    overflow: hidden;
}

hr {
    border: 1px solid red;
}