<!-- Profile photo -->
<div style="height: 2.5rem;"></div>
<ion-img [src]="profile.photo" class="border_photo" (ionImgWillLoad)="ionImgWillLoad($event)"></ion-img>

<!-- Data -->
<ion-item lines="none" style="text-align: center;">
    <ion-label>
        <h1 class="ion-text-wrap name">{{profile?.name || 'LOGIN.name' | translate}}</h1>
        <p class="ion-text-wrap employment">{{profile?.employment || 'PROFILE.employment' | translate}}</p>
        <p class="ion-text-wrap employment" *ngIf="profile?.web" (click)="goPage(profile?.web)">{{profile?.web}}</p>
    </ion-label>
</ion-item>

<hr class="border-contact">

<ion-grid class="ion-no-padding">
    <ion-row>
        <ion-col size="6" style="background: orange;">
            Contact me
        </ion-col>
        <ion-col size="6" style="background: orchid;">
            Share me
        </ion-col>
    </ion-row>
</ion-grid>