<!-- Profile photo -->
<div style="height: 2.5rem;"></div>
<ion-img [src]="profile.photo" class="border_photo" (ionImgWillLoad)="ionImgWillLoad($event)"></ion-img>

<!-- Data -->
<ion-item lines="none" style="text-align: center; margin-top: 1rem;">
    <ion-label>
        <h1 class="ion-text-wrap name">{{profile?.name || 'LOGIN.name' | translate}}</h1>
        <p class="ion-text-wrap employment">{{profile?.employment || 'PROFILE.employment' | translate}}</p>
        <p class="ion-text-wrap employment" *ngIf="profile?.web" (click)="goPage(profile?.web)">{{profile?.web}}</p>
    </ion-label>
</ion-item>

<ion-grid>
    <ion-row>
        <ion-col size="6" *ngFor="let item of profile?.contact; let odd= odd; let even=even; let last=last" style="background: orange; height: 7rem;">
            <div class="btn_frame" (click)="emit(item.action)">
                <ion-icon [name]="item.icon" class="buttons centered" style="font-size: xx-large;"></ion-icon>
            </div>
        </ion-col>
    </ion-row>
</ion-grid>